.padre1{
    width: 100%;
    height: 23.7vw;
    display: flex;
}
.hijo2{
    width: 50%;
    height: 100%;
    border: blue  solid;
}
.hijo3{
    width: 50%;
    height: 100%;
    border: red solid;
}


