.padre1{
    width: 100%;
    height: 100%;

}
.hijo2{
    width: 100%;
    height: 100%;
}

.xd{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;    
}

.vid-adentro{
    width: 80%;
    height: 100%;
    display: flex;

}


